footer {
    background-color: var(--secondary-color);
    height: 50px;

    p {
        color: var(--primary-color);
        text-align: center;
        padding: 10px;
        font-family: var(--secondary-font);
        font-size: 1.1rem;
    }
}