header {
    background-color: var(--primary-color);
    height: 60px;
    padding-top: 10px;

    img {
        width: 50px;
    }

    .title {
        display: none;
    }

    .encabezado.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        list-style: none;
    }

    ul li {
        margin-left: 35px;
    }

    ul li a {
        text-decoration: none;
        color: var(--secondary-color);
        font-family: var(--secondary-font);
        font-size: 1.2rem;
        transition: 1s;

        &:hover {
            color: white;
            transition: 1s;
        }
    }

}